/* Login Container */
.login-container {
  max-width: 400px;
  margin: 50px auto;
  margin-top: 120px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  text-align: center;
  color: #333333; /* Dark color for header */
  font-size: 24px;
}

.login-container .error {
  color: #e74c3c; /* Red color for error messages */
  font-size: 12px;
  margin-top: 5px;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container label {
  color: #333333; /* Change text color of labels to dark */
  margin-bottom: 5px;
}

.login-container input[type="email"],
.login-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.login-container input[type="email"]:focus,
.login-container input[type="password"]:focus {
  border-color: #3883c5;
  outline: none;
}

.button-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.login-container button[type="submit"] {
  width: 48%;
  padding: 10px;
  background-color: #3883c5; /* Main button color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

.login-container button[type="submit"]:hover {
  background-color: #355C7D; /* Darker color for primary button */
}

.login-container .register-button {
  width: 48%;
  padding: 10px;
  background-color: black; /* Changed color for secondary button */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

.login-container .register-button:hover {
  background-color: #2c2c2c; /* Darker shade for the hover effect */
}
