.navbar {
  background-color: #1e1e2a;
  color: #ffffff;
  padding: 10px 15px; /* Adjust padding if needed */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  height: 70px; /* Fix navbar height */
  overflow: hidden; /* Prevent overflow from logo */
}
  .logo-container {
    display: flex;
    align-items: center;
    gap: -2px; /* Space between logo and text */
    margin-left: 0;
  }
  
  .logo {
    width: 160px; /* Adjust size */
    height: 70px;
    margin: 0;
    padding: 0;
  }
  .navbar h2 {
    margin-top: 10px;
    padding-top: 10px; /* Push it downward */
  }
  
  .navbar ul {
    display: flex;
    gap: 20px;
    list-style: none;
  }
  
  .navbar li {
    cursor: pointer;
    font-weight: bold;
  }
  
  .navbar a {
    text-decoration: none;
    color: #3883c5;
    transition: color 0.3s;
  }
  
  .navbar a.active {
    color: #355C7D;
    text-decoration: underline;
  }
  
  .navbar a:hover {
    color: #355C7D;
  }
  