/* Register Container */
.register-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  margin-top: 9px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.register-container h2 {
  text-align: center;
  color: #333333; /* Dark color for header */
  font-size: 24px;
}

.register-container .error {
  color: #e74c3c;
  text-align: center;
  font-size: 13px;
}

.register-container form {
  display: flex;
  flex-direction: column;
}

.register-container label {
  color: #333333; /* Change text color of labels to dark */
  margin-bottom: 5px;
}

.register-container input[type="text"],
.register-container input[type="email"],
.register-container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.register-container input[type="text"]:focus,
.register-container input[type="email"]:focus,
.register-container input[type="password"]:focus {
  border-color: #3883c5;
  outline: none;
}

/* Register and Login Buttons */
.register-container .form-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.register-container button {
  width: 48%; /* Adjusts the width to 48% for both buttons */
  padding: 10px;
  background-color: #3883c5;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.register-container button:hover {
  background-color: #355C7D;
}

.register-container button[type="button"] {
  background-color: black; /* Different background for Login button */
}

.register-container button[type="button"]:hover {
  background-color: rgb(29, 28, 28);
}

.register-container .login-link {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.register-container .login-link a {
  color: #3883c5;
  text-decoration: none;
}

.register-container .login-link a:hover {
  color: #355C7D;
  text-decoration: underline;
}
