.society-details {
  font-family: 'Arial', sans-serif;
  color: white;
  padding: 20px;
  max-width: 800px;
  margin: auto;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease-in-out;
}

.header {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #444;
  padding-bottom: 20px;
  margin-bottom: 20px;
  transition: border-color 0.3s ease-in-out;
}

.header-image {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  display: block;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.header-image:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.header-info {
  flex-grow: 1;
  text-align: center;
}

.header-info h1 {
  color: #007BFF;
  margin: 10px 0;
  font-size: 24px;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.header-info h1:hover {
  color: #0056b3;
}

.header-tagline {
  color: #bbb;
  padding: 10px;
  font-style: italic;
}

.about-section, .events-section, .roles-section {
  margin-top: 30px;
  padding: 15px;
  background-color: #1e1e2a;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

.about-section:hover, .events-section:hover, .roles-section:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.about-section h2, .events-section h2, .roles-section h2 {
  color: #007BFF;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.about-section p, .events-section p, .roles-section p {
  line-height: 1.6;
  margin-bottom: 10px;
  color: #ddd;
}

.events-section ul, .roles-section ul {
  padding-left: 20px;
  color: #007BFF;
  list-style-type: disc;
}

.events-section li {
  margin-bottom: 15px;
  color: #007BFF;
}
.roles-section li{
  color: #ddd;
  margin-bottom: 15px;
}
