/* App.css */
body {
  font-family: 'Roboto', sans-serif; /* Apply Roboto font to the whole body */
  color: white;
  background-color: #020202;
}

/* If you have other elements you want to style, add them here */
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

